---
import { getCollection, type CollectionEntry } from 'astro:content';
import BaseLayout from '../../components/layouts/BaseLayout.astro';
import PageName from '../../components/common/PageName.astro';
import FormattedDate from '../../components/common/FormattedDate.astro';
import A from '../../components/common/A.astro';

const collection = (
	await getCollection(
		'blog',
		({ data }: CollectionEntry<'blog'>) => data.draft !== true || import.meta.env.DEV
	)
)
	.map((post: CollectionEntry<'blog'>) =>
		post.data.draft
			? {
					...post,
					data: { ...post.data, title: `(DRAFT) ${post.data.title}` },
			  }
			: post
	)
	.sort((a, b) => (a.data.pubDate > b.data.pubDate ? -1 : 1));
---

<BaseLayout title="Blog | SnailyLuke">
	<main class="px-grow group relative my-12 flex w-full flex-col justify-center gap-12">
		<PageName><span transition:name="blog">Blog</span></PageName>
		<ul
			class="mx-auto grid w-full max-w-4xl grid-cols-[repeat(auto-fill,minmax(25rem,1fr))] flex-wrap justify-center justify-items-center gap-8 gap-y-20 p-4 py-10">
			{
				collection.map((post) => (
					<li class="border-primary-400 grid w-96 items-center gap-2">
						<h2
							class="font-subheading text-xl font-medium"
							transition:name={post.data.title.toLowerCase()}>
							{post.data.title}
						</h2>
						<FormattedDate
							date={post.data.pubDate}
							class="w-max whitespace-nowrap text-emerald-300 opacity-70"
						/>
						<p class="px-2" transition:name={`${post.slug}-content`}>
							{post.data.description}
						</p>
						<A
							href={`/blog/${post.slug}/`}
							color_class="border-emerald-950 hover:bg-emerald-950 w-48"
							name="Read more..."
						/>
					</li>
				))
			}
		</ul>
	</main>
</BaseLayout>
