---
import PageName from '../components/common/PageName.astro';
import BaseLayout from '../components/layouts/BaseLayout.astro';
import { Icon } from 'astro-icon';

const links = [
	{
		name: 'Snippets',
		href: '/snippets',
		color: 'sky',
	},
	{
		name: 'Blog',
		href: '#',
		color: 'emerald',
	},
] satisfies {
	name: string;
	href: string;
	color: string;
}[];
---

<BaseLayout title="SnailyLuke Home">
	<header
		class="mx-auto flex w-full max-w-sm flex-col items-start gap-2 p-8 font-sans font-light">
		<PageName>Hi I'm Luke</PageName>
		<p class="text-xl">I create software</p>
	</header>
	<main>
		<nav class="mx-auto flex max-w-sm flex-col items-start gap-2 px-4">
			{
				links.map(({ name, href, color }) => (
					<a
						{href}
						transition:name={`${name}-page-bg`}
						class:list={[`border-${color}-950`, `hover:bg-${color}-950`]}
						class="group flex min-w-[10rem] items-center justify-between rounded-full border px-5 py-[0.3rem] transition-colors">
						<span transition:name={href}>{name}</span>
						<div class="transition-transform group-hover:translate-x-1 group-hover:scale-105" transition:animate="slide">
							<Icon name="cil:arrow-right" size="25" />
						</div>
					</a>
				))
			}
		</nav>
	</main>
</BaseLayout>
